# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# Logs
*.log

# SQLite
*.db

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini